*{
    background-color: #f5f3c6;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Styling for the login button */
  button.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Optional styling for error and success messages */
  .alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .mt-3 {
    margin-top: 15px;
  }
body {
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .login-form {
    margin-bottom: 20px;
  }
  
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
 
  label {
    font-weight: bold;
  }
  
 
  input[type="email"],
  input[type="password"] {
    height: 40px;
  }
  

  button.btn-primary {
    margin-top: 20px;
  }
  
 
  .alert {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  

  
.side-navigation {
  background-color: #f2f2f2;
  padding: 20px;
}
.side-navigation ul {
  list-style-type: none;
  padding: 0;
}
.side-navigation li {
  margin-bottom: 10px;
}
.side-navigation a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}
.side-navigation a i {
  margin-right: 10px;
}
.side-navigation a:hover {
  color: #007bff;
}
.side-navigation a.active {
  color: #007bff;
  font-weight: bold;
}
