<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>


<body>
  <link rel="stylesheet" type="text/css" href="login.component.css">
<div style="background-color: rgb(73, 222, 222); font-style:sans-serif;">
  <h1>Teacher Login</h1>
  <form ngfor="" (ngSubmit)="login()" class="login-form">
    <div class="form-group">
      <label for="email">UserId</label>
      <input type="email" class="form-control" id="email" name="userId" [(ngModel)]="userId" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

</div>

<!--<div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>-->
<div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
<div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div> 
</body>
</html>

