

.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .card {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
  }
  
  .card h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .modal-header {
    background-color: #f8f9fa;
    border-bottom: none;
  }
  
  .modal-body {
    background-color: #fff;
    overflow-y: scroll;
  }
  
  .modal-title {
    margin-bottom: 0;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .mt-5 {
    margin-top: 2rem;
  }
  .mt-5 {
    margin-top: 5rem;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
   background-color: aqua;
  }
  
  .table th,
  .table td {
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .thead {
    background-color: rgb(30, 206, 30);
  }
  
  .tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
  }

  .side-navigation {
     background-color: #f2f2f2;
    padding: 10px;
    margin: 20px auto; 
   
    
  }
  
   .side-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

  }
  
  .side-navigation li {
    margin-bottom: 10px;
    transform: translate(40rem);
    background-color:yellow;
    width: fit-content;
  }
  
  .side-navigation a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px;
  }
  
   .side-navigation a:hover {
    background-color: #c70e0e;
    width: fit-content;
  } 
  
   .side-navigation a.active {
    background-color: #ccc;
  }
  
  .side-navigation i {
    margin-right: 5px;
  }
   




  