<link rel="stylesheet" type="text/css" href="student.component.css">

<div class="container">
    <div class="card mt-5" style="align-items: center; background-color: yellow">
      <h1 >Student Dashboard</h1>
    </div>


    <nav class="side-navigation">
      <ul>
        <li>
          <a routerLink="/register" routerLinkActive="active">
            <i class="fa fa-user-plus"></i>
            +Add Student
          </a>
        </li>
       
      </ul>
    </nav>
    
    <div class="mt-5" style="background-color: aqua;">
      <table class="table table-bordered">
        <thead class="thead">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>

        </thead>
        <tbody class="tbody">
          <tr *ngFor="let student of studentDetails">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.address}}</td>
            <td><button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="view(student)">view</button></td>
            <td><button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModalUpdate" (click)="edit(student)">Edit</button></td>
            <td><button type="button" class="btn btn-danger "(click)="deleteStudent(student)">Delete</button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
<!-- <div class="container">
  <div class="card mt-5" style="align-items: center; background-color: yellow">
   <h1 >Student Dashboard</h1>
  </div>

  <div class="card mt-5" style="padding: 20px; background-color: aqua;">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" >
     <div class="form-group">
        <label for="id">Student ID:</label>
        <input type="text" #id (ngModel)="id" name="id" id="id" class="form-control" placeholder="student id">
      </div>  
      <div class="form-group">
        <label for="name">Student Name:</label>
        <input type="text" #name (ngModel)="name" name="name" id="name" class="form-control" placeholder="Rahul" >
      </div>
 
     
      <div class="form-group">
        <label for="email">Student email:</label>
        <input type="email" #email (ngModel)="email" name="email" id="email" class="form-control" placeholder="xyz@gmail.com" >
      </div>
      <div class="form-group">
        <label for="Address">Student Address:</label>
        <input type="text" #address (ngModel)="address" name="address" id="address" class="form-control" placeholder="chennai" >
      </div>

      <div class="form-group">
        <label for="name">Student FatherName:</label>
        <input type="text" #fname (ngModel)="fname" name="fname" id="fname" class="form-control" placeholder="Dinesh" >
      </div>
      <div class="form-group">
        <label for="name">Student TeacherName:</label>
        <input type="text" #tname (ngModel)="tname" name="tname" id="tname" class="form-control" placeholder="Venkat" >
      </div>
   
     <div class="form-group">
        <label for="standard">Student standard:</label>
        <input type="number" #standard (ngModel)="standard" name="standard" id="standard" class="form-control" placeholder="10" max="12" min="1" >
      </div>   
      <div class="form-group">
        <label for="percentage">Student percentage:</label>
        <input type="number" #standard (ngModel)="percentage" name="percentage" id="percentage" class="form-control" max="100" min="0" placeholder="student percentage" >
      </div>

      <div class="form-group">
        <label for="phone">Student phone:</label>
        <input type="tel" #phone (ngModel)="phone" name="phone" id="phone" class="form-control" placeholder="9651511652" >
      </div>
      <div class="form-group mt-5">
        <input type="submit"  style="background-color:rgb(70, 241, 70)" value="Register" class="btn btn-primary w-100">
      </div>
    </form>
  </div>
</div> -->


<!-- Modal -->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-spy="scroll" >
 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> Student Detail</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form #uviewForm="ngForm" >
          <div class="form-group">
             <label for="id">Student ID:</label>
             <input type="text" #id [value]="viewStudent?.id" name="id" id="id" class="form-control" placeholder="student id" readonly>
           </div>  
           <div class="form-group">
             <label for="name">Student Name:</label>
             <input type="text" #name [value]="viewStudent?.name" name="name" id="name" class="form-control" placeholder="student name" readonly>
           </div>
      
          
           <div class="form-group">
             <label for="email">Student email:</label>
             <input type="email" #email [value]="viewStudent?.email" name="email" id="email" class="form-control" placeholder="student email" readonly>
           </div>
           <div class="form-group">
             <label for="Address">Student Address:</label>
             <input type="text" #address  [value]="viewStudent?.address" name="address" id="address" class="form-control" placeholder="student address" readonly>
           </div>
   
           <div class="form-group">
             <label for="name">Student FatherName:</label>
             <input type="text" #fname [value]="viewStudent?.fname" name="fname" id="fname" class="form-control" placeholder="student father's name" readonly>
           </div>
           <div class="form-group">
             <label for="name">Student TeacherName:</label>
             <input type="text" #tname [value]="viewStudent?.tname" name="tname" id="tname" class="form-control" placeholder="student teacher's name" readonly>
           </div>
          
          <div class="form-group">
             <label for="standard">Student standard:</label>
             <input type="number" #standard [value]="viewStudent?.standard" name="standard" id="standard" class="form-control" placeholder="student standard" readonly>
           </div>   
           <div class="form-group">
             <label for="percentage">Student percentage:</label>
             <input type="number" #standard [value]="viewStudent?.percentage" name="percentage" id="percentage" class="form-control" placeholder="student percentage" readonly>
           </div>
   
           <div class="form-group">
             <label for="phone">Student phone:</label>
             <input type="text" #phone [value]="viewStudent?.phone" name="phone" id="phone" class="form-control" placeholder="student phone" readonly>
           </div>
       
         </form>
      </div>
      
    </div>
  </div>


</div>



<!--
<div class="modal fade" id="exampleModalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Student</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
        
      <div class="modal-body">
          <form  #updateForm="ngForm" (ngSubmit)="updateStudent()" >

           
      
          
           <div class="form-group">
             <label for="name">Student Name:</label>
             <input type="text" #name [(ngModel)]="studentToUpdate.name" name="name" id="name" class="form-control" placeholder="student name">
           </div>
      
          
           <div class="form-group">
             <label for="email">Student email:</label>
             <input type="email" #email [(ngModel)]="studentToUpdate.email" name="email" id="email" class="form-control" placeholder="student email">
           </div>
           <div class="form-group">
             <label for="Address">Student Address:</label>
             <input type="text" #address  [(ngModel)]="studentToUpdate.address" name="address" id="address" class="form-control" placeholder="student address">
           </div>
   
           <div class="form-group">
             <label for="name">Student FatherName:</label>
             <input type="text" #fname [(ngModel)]="studentToUpdate.fname" name="fname" id="fname" class="form-control" placeholder="student father's name">
           </div>
           <div class="form-group">
             <label for="name">Student TeacherName:</label>
             <input type="text" #tname [(ngModel)]="studentToUpdate.tname" name="tname" id="tname" class="form-control" placeholder="student teacher's name">
           </div>
          
          <div class="form-group">
             <label for="standard">Student standard:</label>
             <input type="number" #standard [(ngModel)]="studentToUpdate.standard" name="standard" id="standard" class="form-control" placeholder="student standard">
           </div>   
           <div class="form-group">
             <label for="percentage">Student percentage:</label>
             <input type="number" #standard [(ngModel)]="studentToUpdate.percentage" name="percentage" id="percentage" class="form-control" placeholder="student percentage">
           </div>
   
           <div class="form-group">
             <label for="phone">Student phone:</label>
             <input type="text" #phone [(ngModel)]="studentToUpdate.phone" name="phone" id="phone" class="form-control" placeholder="student phone">
           </div>
           <div class="form-group mt-5">
             <input type="submit" value="Update" class="btn btn-primary w-100" (click)="updateStudent()">
           </div>
         </form>
      </div>
    </div>
  </div>
</div>

-->   
   
<div class="container"*ngIf="popup">
  <div class="card mt-5" style="align-items: center; background-color: rgb(117, 117, 82)">
   <h1 >Student update</h1>
  </div> 
<div class="modal-body">
  <form  #updateForm="ngForm" (ngSubmit)="updateStudent()" >

   

  
   <div class="form-group">
     <label for="name">Student Name:</label>
     <input type="text" #name [(ngModel)]="studentToUpdate.name" name="name" id="name" class="form-control" placeholder="student name">
   </div>

  
   <div class="form-group">
     <label for="email">Student email:</label>
     <input type="email" #email [(ngModel)]="studentToUpdate.email" name="email" id="email" class="form-control" placeholder="student email">
   </div>
   <div class="form-group">
     <label for="Address">Student Address:</label>
     <input type="text" #address  [(ngModel)]="studentToUpdate.address" name="address" id="address" class="form-control" placeholder="student address">
   </div>

   <div class="form-group">
     <label for="name">Student FatherName:</label>
     <input type="text" #fname [(ngModel)]="studentToUpdate.fname" name="fname" id="fname" class="form-control" placeholder="student father's name">
   </div>
   <div class="form-group">
     <label for="name">Student TeacherName:</label>
     <input type="text" #tname [(ngModel)]="studentToUpdate.tname" name="tname" id="tname" class="form-control" placeholder="student teacher's name">
   </div>
  
  <div class="form-group">
     <label for="standard">Student standard:</label>
     <input type="number" #standard [(ngModel)]="studentToUpdate.standard" name="standard" id="standard" class="form-control" placeholder="student standard">
   </div>   
   <div class="form-group">
     <label for="percentage">Student percentage:</label>
     <input type="number" #standard [(ngModel)]="studentToUpdate.percentage" name="percentage" id="percentage" class="form-control" placeholder="student percentage">
   </div>

   <div class="form-group">
     <label for="phone">Student phone:</label>
     <input type="text" #phone [(ngModel)]="studentToUpdate.phone" name="phone" id="phone" class="form-control" placeholder="student phone">
   </div>
   <div class="form-group mt-5">
     <input type="submit" value="Update" class="btn btn-primary w-100" (click)="updateStudent()">
   </div>
 </form>
</div>
</div>



