<div class="container">
    <div class="card mt-5" style="align-items: center; background-color: yellow">
     <h1 >Student Registration</h1>
    </div>
  
    <div class="card mt-5" style="padding: 20px; background-color: aqua;">
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" >
       <!-- <div class="form-group">
          <label for="id">Student ID:</label>
          <input type="text" #id (ngModel)="id" name="id" id="id" class="form-control" placeholder="student id">
        </div>  -->
        <div class="form-group">
          <label for="name">Student Name:</label>
          <input type="text" #name (ngModel)="name" name="name" id="name" class="form-control" >
        </div>
   
       
        <div class="form-group">
          <label for="email">Student email:</label>
          <input type="email" #email (ngModel)="email" name="email" id="email" class="form-control" >
        </div>
        <div class="form-group">
          <label for="Address">Student Address:</label>
          <input type="text" #address (ngModel)="address" name="address" id="address" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="name">Student FatherName:</label>
          <input type="text" #fname (ngModel)="fname" name="fname" id="fname" class="form-control"  >
        </div>
        <div class="form-group">
          <label for="name">Student TeacherName:</label>
          <input type="text" #tname (ngModel)="tname" name="tname" id="tname" class="form-control"  >
        </div>
     
       <div class="form-group">
          <label for="standard">Student standard:</label>
          <input type="number" #standard (ngModel)="standard" name="standard" id="standard" class="form-control" max="12" min="1" >
        </div>   
        <div class="form-group">
          <label for="percentage">Student percentage:</label>
          <input type="number" #standard (ngModel)="percentage" name="percentage" id="percentage" class="form-control" max="100" min="0" >
        </div>
  
        <div class="form-group">
          <label for="phone">Student phone:</label>
          <input type="number" #phone (ngModel)="phone" name="phone" id="phone" class="form-control" min="6000000000" max="9999999999" >
        </div>
        <div class="form-group mt-5">
          <input type="submit"  style="background-color:rgb(70, 241, 70)" value="Register" class="btn btn-primary w-100">
        </div>
      </form>
    </div>
  </div>
  
  
 